<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Billify"
        tools:targetApi="31">
        <activity
            android:name=".CustomerSetting"
            android:exported="false" />
        <activity
            android:name=".CustomerProfile"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".HistoryPage"
            android:exported="false" />
        <activity
            android:name=".GeneratedBill"
            android:exported="false"
            android:theme="@style/Base.Theme.Billify" />
        <activity
            android:name=".AdminSide"
            android:exported="false" />
        <activity
            android:name=".ScanBarcode"
            android:exported="false" />
        <activity
            android:name=".CustomerHome"
            android:exported="false" />
        <activity
            android:name=".Shopeprofile"
            android:exported="false" />
        <activity
            android:name=".ShopHome"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome_Screen"
            android:exported="true"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>